<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/backend.css" />
    <title>Home</title>
  </head>

  <!-- Nav Bar -->
  <section id="nav">
    <div class="nav">
      <a class="nav__link-logo" href="/"
        ><img
          class="nav__item-logo-image"
          src="https://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder.png"
          alt="placeholder"
      /></a>

      <% if(!currentUser) { %>
      <a class="nav__link" href="/login">Login</a>
      <% } else { %>
      <a href="#" class="nav__link">Signed in as <%= currentUser.username %></a>
      <a class="nav__link" href="/trades">Dashboard</a>
      <a class="nav__link" href="/logout">Logout</a>
      <%} %>
    </div>
  </section>

  <!-- Side Nav -->
  <!-- 
<nav class="sidenav">
  <a class="nav__link" href="#">Trade Management</a>
  <a class="nav__link " href="#">Input Trade</a>
  <a class="nav__link " href="#">Profie</a>
</nav>
 -->

  <body></body>
</html>
