<%- include('../partials/backend/header')%>

<div class="trade-input-container">
  <form action="/trade" method='POST' class="trade-input-form ">
    <div class="hero__signup-title h2">Trade Input</div>
    <div class="trade-input-form-control">
      <label for="pair">Pair</label>
      <input class="form-control uppercase" type="text" name="trade[pair]" placeholder="BTCUSD">
    </div>
    <div class="trade-input-form-control">
      <label for="timeframe">Timeframe</label>
      <input class="form-control" type="text" name="trade[timeframe]" id="" placeholder="8hr">
    </div>
    <div class="trade-input-form-control">
      <label for="tradeType">Trade Type</label>
      <select name="tradeType" id="tradeType">
        <option value="">--Please Choose An Option--</option>
        <option value="trade[cradle]">Cradle</option>
        <option value="trade[breakout]">Breakout</option>
        <option value="trade[fibonacciBooster]">Fibonacci Booster</option>
      </select>
    </div>
    <div class="trade-input-form-control">
      <label for="entryPrice">Entry Price</label>
      <input class="form-control" type="number" name="trade[entryPrice]" id="" placeholder="$100">
    </div>
    <div class="trade-input-form-control">
      <label for="stopPrice">Stop Price</label>
      <input class="form-control" type="number" name="trade[stopPrice]" id="" placeholder="$95">
    </div>
    <div class="trade-input-form-control">
      <label for="portfolioSize">Portfolio Size (USD)</label>
      <input class="form-control" type="number" name="trade[invalidationPrice]" id="" placeholder="$1000">
    </div>
    <div class="trade-input-form-control">
      <label for="riskPercentage">Risk Percentage</label>
      <input class="form-control" type="number" min name="trade[riskPercentage]" id="" placeholder="1%">
    </div>
    <div class="trade-input-form-control">
      <label for="entrySnapShot1">Entry Snap Shots (3 minumum)</label>
      <input class="form-control" type="text" name="trade[entryShot1]" id=""
        placeholder="http://yoururl.com/someimage.jpg">
      <input class="form-control" type="text" name="trade[entryShot2]" id=""
        placeholder="http://yoururl.com/someimage.jpg">
      <input class="form-control" type="text" name="trade[entryShot3]" id=""
        placeholder="http://yoururl.com/someimage.jpg">
      <input class="form-control" type="text" name="trade[entryShot4]" id=""
        placeholder="http://yoururl.com/someimage.jpg">
      <input class="form-control" type="text" name="trade[entryShot5]" id=""
        placeholder="http://yoururl.com/someimage.jpg">
    </div>
    <div class="trade-input-form-control">
      <label for="entryNotes">Entry Notes</label>
      <textarea name="trade[entryNotes]" id="entryNotes" cols="30" rows="10"></textarea>
    </div>
    <div class="trade-input-form-control">
      <label for="perfectEntry">Perfect Entry</label>
      <input class="form-control" type="checkbox" value="true" name="trade[perfectEntry]" id="" placeholder="$96">
    </div>

    <div class="trade-input-form-control">
      <button class="">submit</button>
  </form>
</div>
<%- include('../partials/footer')%>