<%- include('./partials/header') %>

<body>
  <!-- Main Section -->
  <section class="">
    <div class="container mt-5 mx-auto col-5 col-sm-10 col-xs-1 col-md-4 rounded p-5">
      <form action="/" method="POST" class="form">
        <div class="row">
          <div class="col mx-auto text-center">
            <h1>Signup</h1>
          </div>
        </div>
        <div class="col mx-auto p-2">
          <label for="firstName">First Name</label>
          <input class="form-control" type="text" name="firstName" placeholder="Jack" />
        </div>
        <div class="col-sm mx-auto p-2">
          <label for="lastName">Last Name</label>
          <input class="form-control" type="text" name="lastName" placeholder="Rojers" />
        </div>
        <div class="col-sm mx-auto p-2">
          <label for="username">Email</label>
          <input class="form-control" type="text" name="username" placeholder="alex@up.me" />
        </div>
        <div class="col-sm mx-auto p-2">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="" placeholder="password" />
        </div>
        <div class="col mx-auto m-3 p-2">
          <button class="btn btn-primary">Signup</button>
        </div>
      </form>
    </div>
  </section>
  <%- include('./partials/footer') %>
</body>