<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <title>Home</title>
</head>

<body>
  <!-- Nav Bar -->
  <section id="nav">
    <div class="nav">
      <a class="nav__link-logo" href="/"><img class="nav__item-logo-image"
          src="https://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder.png" alt="placeholder"></a>
      <a class="nav__link" href="/profile">Profile</a>
      <a class="nav__link" href="/login">Login</a>

    </div>
  </section>

  <!-- Main Section -->
  <section class="hero">
    <div class="hero__container">
      <div class="hero__image">
      </div>
      <div class="hero__signup-form">
        <div class="hero__signup-form-title">Sign Up</div>
      </div>
    </div>
  </section>

  <!-- Footer -->
</body>

</html>