<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <title>Home</title>
</head>

<body>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a class="nav__link" href="/profile"></a>Profile</li>
      <li class="nav__item"><a class="nav__link" href="/login"></a>Login</li>
    </ul>
  </nav>
</body>

</html>