<%- include('./partials/header') %>

<body>
  <!-- Main Section -->
  <section class="hero">
    <div class="hero__container">
      <div class="hero__signup-container">
        <form action="/" method="POST" class="form">
          <div class="hero__signup-title h2">Signup</div>
          <div class="form-group hero_signup-form-group">
            <label for="firstName">First Name</label>
            <input
              class="form-control"
              type="text"
              name="firstName"
              placeholder="Jack"
            />
          </div>
          <div class="form-group hero_signup-form-group">
            <label for="lastName">Last Name</label>
            <input
              class="form-control"
              type="text"
              name="lastName"
              placeholder="Rojers"
            />
          </div>
          <div class="form-group hero_signup-form-group">
            <label for="username">Email</label>
            <input
              class="form-control"
              type="text"
              name="username"
              placeholder="alex@up.me"
            />
          </div>
          <div class="form-group hero_signup-form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              name="password"
              id=""
              placeholder="password"
            />
          </div>
          <div class="hero_signup-form-group">
            <button class="">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <%- include('./partials/footer') %>
</body>
