<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./home/main.css">
  <title>Home</title>
</head>

<body>
  <!-- Nav Bar -->
  <section id="nav">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="/profile"></a>Profile</li>
        <li class="nav__item"><a class="nav__link" href="/login"></a>Login</li>
      </ul>
    </nav>
  </section>

  <!-- Main Section -->
  <section class="hero">
    <div class="hero__container">
      <div class="hero__image">
      </div>
      <div class="hero__signup-form">
        <div class="hero__signup-form-title">Sign Up</div>
      </div>
    </div>
  </section>

  <!-- Footer -->
</body>

</html>