<%- include('./partials/header') %>

<body>
  <div class="container container-signup rounded mt-5">
    <form action="/login" method="POST" class="form">
      <div class="row">
        <div class="col mx-auto p-3"><h3>Sign in</h3></div>
      </div>
      <div class="row">
        <div class="col">
          <label for="username">Username(email)</label>
          <input
            class="form-group"
            type="text"
            name="username"
            placeholder="your email"
          />
        </div>
        <div class="col">
          <label for="password">Password</label>
          <input
            class="form-group"
            type="password"
            name="password"
            placeholder="your password"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input class="btn btn-primary" type="submit" value="Login" />
        </div>
      </div>
    </form>
  </div>

  <%- include('./partials/footer') %>
</body>
