*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Colors */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-white: #fcfffc;
  --clr-dark: #2d3a3a;
  --clr-green: #2ba84a;
  --clr-darkgreen: #248232;
  --clr-black: #040f0f;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General Styles */

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

.h2 {
  font-size: var(--fs-h2);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-white);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-green);
  outline-offset: 3px;
}

.main {
  display: grid;
}

/* Nav Bar */

#nav {
  position: sticky;
  z-index: 10;
  background-color: var(--clr-dark);
}

#nav a {
  color: white;
}

.container {
  background-color: var(--dark);
  color: #ffffff;
}

.table{
  color: white;
}