*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Colors */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-white: #fcfffc;
  --clr-dark: #2d3a3a;
  --clr-green: #2ba84a;
  --clr-darkgreen:#248232;
  --clr-black:#040f0f;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
  0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* General Styles */

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 2rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}

.h2 {
  font-size: var(--fs-h2)
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--clr-white);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
strong { font-weight: var(--fw-bold) }

:focus {
  outline: 3px solid var(--clr-green);
  outline-offset: 3px;
}

/* Nav Bar */

#nav {
  position: sticky;
}

.nav {
  background-color: var(--clr-dark);
  display: grid;
  min-height: 30px;
  width: 100%;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content max-content;
  align-items: center;
}

.nav__link-logo{
  display: grid;
  justify-content: start;
  align-content: center;
}

.nav__item-logo-image {
  height: 50px;
}

.nav__link{
  text-decoration: none;
  float: right;
  display: block;
  color: var(--clr-white);
  text-align: center;
  padding: 0 0.5em 0 0.5em ;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Main Section */


.hero__container{
  margin: 0;
  padding: 1em;
  height: 80vh;
  background-color: var(--clr-black);
  display:grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}
.hero__image {
  height: 600px;
  width: 600px;
  background-color: beige;
}

.hero__signup-container{ 
  text-align: center;
  background-color: var(--clr-white);
  height: 100%;
  width: 500px;
  color: #040f0f;
}

.trade-input-container {
  text-align: center;
  background-color: var(--clr-white);
  height: 100%;
  width: 100%;
  color: #040f0f;
  display: grid;
}

.trade-input-form {
  margin: 0 auto;
  width: 300px;

}

.trade-input-form-control {
  display: grid;
  padding: 10px;
}